/* .ant-menu-dark .ant-menu-item-selected {
    background-color: #ff7875 !important;
  }
  
  .ant-menu-item, .ant-menu-submenu-title {
    color: #ff7875 !important;
  }
  
  .ant-menu-item a, .ant-menu-submenu-title a {
    color: inherit !important;
  } */

.triger-btn{
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}